blinker
click
contourpy
cycler
Flask
fonttools
fuzzywuzzy
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
PyTrie
pytz
scikit-learn
scipy
six
sortedcontainers
threadpoolctl
tzdata
Werkzeug
gunicorn
